<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="zhy">
  <title>changeLog</title>
  <!-- 引入初始化样式 -->
  <link href="../static/css/reset.css" rel="stylesheet">
  <!-- 引入组件库样式 -->
  <link href="https://unpkg.com/element-ui/lib/theme-default/index.css" rel="stylesheet">
  <!--font-awesome图标库-->
  <link href="../static/css/font-awesome.css" rel="stylesheet">
  <!-- 引入当前页面样式 -->
  <link href="../static/css/changelog.css" rel="stylesheet">
  <!-- 引入jQuery -->
  <script src="../static/js/lib/jquery-3.2.1.js"></script>
  <!-- 引入Vue.js -->
  <script src="../static/js/lib/vue-2.2.6.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>

</head>

<body>
  <div id="change-log">
    <el-carousel :interval="400000" type="card" indicator-position="none" height="200px">
      <el-carousel-item v-for="change_log in change_logs">
        <div>
          <h1>{{change_log.version}}</h1>
          <h3>{{change_log.change}}</h3>
        </div>
      </el-carousel-item>
    </el-carousel>
  </div>
</body>
<script src="../static/js/zhy/changeLog.js"></script>

</html>
