<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="the homepage of my website">
  <meta name="author" content="zhy">
  <title>Home Page</title>
  <!-- 引入reset初始化样式 -->
  <link href="../static/css/reset.css" rel="stylesheet">
  <!-- 引入当前页面样式 -->
  <link href="../static/css/homePage.css" rel="stylesheet">
  <!-- 引入jQuery -->
  <script src="../static/js/lib/jquery-3.2.1.js"></script>
  <!-- 引入Vue.js -->
  <script src="../static/js/lib/vue-2.2.6.js"></script>
  <!-- 引入当前页面的数据库-->
  <script src="../static/js/dataBase/homePageDataBase.json"></script>
</head>

<body>
  <div id="home-page" v-cloak>
    <div v-for="introduce in introduces" class="background" :style="introduce.background">
      <div class="content">
        <h1 v-text="introduce.title"></h1>
        <p v-text="introduce.content"></p>
      </div>
    </div>
  </div>
</body>
<script src="../static/js/zhy/homePage.js"></script>

</html>
