<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="the resume of mine">
  <meta name="author" content="zhy">
  <title>Resume</title>
  <!-- 引入reset初始化样式 -->
  <link href="../static/css/reset.css" rel="stylesheet">
  <!-- 引入element组件库样式 -->
  <link href="https://unpkg.com/element-ui/lib/theme-default/index.css" rel="stylesheet">
  <!-- 引入当前页面样式 -->
  <link href="../static/css/resume.css" rel="stylesheet">
  <!-- 引入jQuery -->
  <script src="../static/js/lib/jquery-3.2.1.js"></script>
  <!-- 引入Vue.js -->
  <script src="../static/js/lib/vue-2.2.6.js"></script>
  <!-- 引入element组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>

</head>

<body>
  <div id="resume">
    <div>
      <header>个人简历</header>
      <el-tabs type="border-card">
        <el-tab-pane label="基本信息">
          <el-form label-position="left" class="personal-info" inline>
            <el-form-item label="中文名">
              <span>{{personal_info.name_cn}}</span>
            </el-form-item>
            <el-form-item label="英文名">
              <span>{{personal_info.name_en}}</span>
            </el-form-item>
            <el-form-item label="性别">
              <span>{{personal_info.gender}}</span>
            </el-form-item>
            <el-form-item label="出生日期">
              <span>{{personal_info.birth}}</span>
            </el-form-item>
            <el-form-item label="政治面貌">
              <span>{{personal_info.political}}</span>
            </el-form-item>
            <el-form-item label="联系电话">
              <span>{{personal_info.tel}}</span>
            </el-form-item>
          </el-form>
        </el-tab-pane>
        <el-tab-pane label="教育经历">
          <el-table :data="education_information" border>
            <el-table-column prop="duration" label="年份" width="180"></el-table-column>
            <el-table-column prop="school" label="学校"></el-table-column>
            <el-table-column prop="college" label="学院"></el-table-column>
            <el-table-column prop="major" label="专业"></el-table-column>
            <el-table-column prop="degree" label="学位"></el-table-column>
          </el-table>
        </el-tab-pane>
        <el-tab-pane label="项目经验">
          <el-table :data="project_experience" border>
            <el-table-column type="expand">
              <template scope="props">
                <el-form label-position="left" class="project-table-expand" inline>
                  <el-form-item label="项目描述">
                    <span>{{props.row.description}}</span>
                  </el-form-item>
                  <el-form-item label="项目成果">
                    <span>{{props.row.outcome}}</span>
                  </el-form-item>
                </el-form>
              </template>
            </el-table-column>
            <el-table-column prop="duration" label="年份" width="180"></el-table-column>
            <el-table-column prop="name" label="项目名称"></el-table-column>
            <el-table-column prop="role" label="项目角色"></el-table-column>
            <el-table-column prop="size" label="团队规模"></el-table-column>
          </el-table>
        </el-tab-pane>
        <el-tab-pane label="专业技能">
          <el-table :data="professional_skill" border>
            <el-table-column prop="skill" label="技能"></el-table-column>
            <el-table-column prop="level" label="等级" width="200" :filters="level_filter" :filter-method="filterTag">
              <template scope="props">
                  <el-tag :type="props.row.level === '了解' ? 'gray' : props.row.level === '熟悉' ? 'primary' : props.row.level === '掌握' ? 'success' : 'danger'">{{props.row.level}}</el-tag>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</body>
<!-- 引入当前页面脚本 -->
<script src="../static/js/zhy/resume.js"></script>

</html>
