<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="the framework of my website">
  <meta name="author" content="zhy">
  <title>ZHY's Personal Website</title>
  <!-- 引入reset初始化样式 -->
  <link href="./static/css/reset.css" rel="stylesheet">
  <!-- 引入element组件库样式 -->
  <link href="http://unpkg.com/element-ui/lib/theme-default/index.css" rel="stylesheet">
  <!-- 引入font-awesome图标库-->
  <link href="./static/css/font-awesome.css" rel="stylesheet">
  <!-- 引入当前页面样式 -->
  <link href="./static/css/base.css" rel="stylesheet">
  <!-- 引入jQuery -->
  <script src="./static/js/lib/jquery-3.2.1.js"></script>
  <!-- 引入Vue.js -->
  <script src="./static/js/lib/vue-2.2.6.js"></script>
  <!-- 引入element组件库 -->
  <script src="http://unpkg.com/element-ui/lib/index.js"></script>
  <!-- 引入当前页面的数据库-->
  <script src="./static/js/dataBase/baseDataBase.json"></script>
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-99972607-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>

<body>
  <div id="base" v-cloak>
    <!--页眉-->
    <header>
      <a href="./template/homePage.html" target="content"><img src="./static/img/myPhoto.png"></a>
      <h1>Welcome to MY Zone</h1>
    </header>
    <!--导航栏-->
    <nav>
      <el-menu default-active="1" class="el-menu-demo" mode="horizontal">
        <el-menu-item v-for="nav in navs" :index="nav.index">
          <a :href="nav.href" target="content" @mouseenter="iSpin" @mouseleave="iStop"><i class="fa fa-lg" :class="nav.icon"></i>{{nav.title}}</a>
        </el-menu-item>
      </el-menu>
    </nav>
    <!--中间内容-->
    <main>
      <iframe id="content" name="content" scrolling="no" src="./template/homePage.html" @load="changeFrameHeight"></iframe>
    </main>
    <!--页脚-->
    <footer>
      <!--系统名称-->
      <div id="footer-main">
        <p id="footer-main-title">张华一的个人网站v{{version}}</p>
        <a id="footer-main-link" href="http://kirazhy.github.io/index.html" target="_blank">个人网站</a>
      </div>
      <!--个人信息-->
      <div id="footer-social">
        <el-popover v-for="popover in popovers" placement="top" width="200" popper-class="footer-popover" trigger="hover">
          <div class="footer-popover-title" v-text="popover.title"></div>
          <p v-for="content in popover.contents" v-text="content"></p>
          <i class="fa fa-fw footericon" :class="popover.icon" slot="reference"></i>
        </el-popover>
        <a v-for="link in links" :href="link.href" target="_blank"><i class="fa fa-fw f footericon" :class="link.icon"></i></a>
      </div>
    </footer>
  </div>
</body>
<!-- 引入当前页面脚本 -->
<script src="./static/js/zhy/base.js"></script>

</html>
