<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="zhy">
  <title>ZHY's Personal Website</title>
  <!-- 引入初始化样式 -->
  <link href="./static/css/reset.css" rel="stylesheet">
  <!-- 引入组件库样式 -->
  <link href="https://unpkg.com/element-ui/lib/theme-default/index.css" rel="stylesheet">
  <!--font-awesome图标库-->
  <link href="./static/css/font-awesome.css" rel="stylesheet">
  <!-- 引入当前页面样式 -->
  <link href="./static/css/base.css" rel="stylesheet">
  <!-- 引入jQuery -->
  <script src="./static/js/lib/jquery-3.2.1.js"></script>
  <!-- 引入Vue.js -->
  <script src="./static/js/lib/vue-2.2.6.js"></script>
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
  <div id="base">
    <!--页眉-->
    <header>
      <a href="./template/homePage.html" target="content"><img src="./static/img/myPhoto.png"></a>
      <h1>Welcome to MY Zone</h1>
    </header>
    <!--导航栏-->
    <nav>
      <el-menu default-active="1" class="el-menu-demo" mode="horizontal">
        <el-menu-item v-for="nav in navs" :index="nav.index">
          <a :href="nav.href" target="content" @mouseenter="iSpin" @mouseleave="iStop"><i class="fa fa-lg" :class="nav.icon"></i>{{nav.title}}</a>
        </el-menu-item>
      </el-menu>
    </nav>
    <!--中间内容-->
    <main>
      <iframe id="content" name="content" scrolling="no" src="./template/homePage.html" @load="changeFrameHeight"></iframe>
    </main>
    <!--页脚-->
    <footer>
      <!--系统名称-->
      <div id="footer-main">
        <p id="footer-main-title">Huayi Zhang's v{{version}} Personal Website</p>
        <a id="footer-main-link" href="http://kirazhy.github.io/index.html" target="_blank">个人网站</a>
      </div>
      <!--个人信息-->
      <div id="footer-social">
        <el-popover v-for="popover in popovers" placement="top" :width="popover.width" popper-class="footer-popover" trigger="hover">
          <div class="footer-popover-title">{{popover.title}}</div>
          <p v-for="content in popover.contents">{{content}}</p>
          <i class="fa fa-fw footericon" :class="popover.icon" slot="reference"></i>
        </el-popover>
        <a href="https://github.com/kirazhy/kirazhy.github.io"><i class="fa fa-fw fa-github footericon"></i></a>
      </div>
    </footer>
  </div>
</body>
<!-- 引入当前页面脚本 -->
<script src="./static/js/zhy/base.js"></script>

</html>
