:root {
  /*页眉高度*/
  --header_height: 100px;
  /*页脚处图标尺寸*/
  --footericon_size: 32px;
  /*页脚内容最大宽度*/
  --footer_max_width: 1200px;
  /*页脚内容高度*/
  --footer_height: 80px;
}

@font-face {
  font-family: 'ChannelSlanted';
  src: url('//cdn.webfont.youziku.com/webfonts/nomal/101653/45817/58f80e62f629d81378fbf9ed.gif?r=41045218749');
  src: url('//cdn.webfont.youziku.com/webfonts/nomal/101653/45817/58f80e62f629d81378fbf9ed.gif?r=41045218749?#iefix') format('embedded-opentype'), url('//cdn.webfont.youziku.com/webfonts/nomal/101653/45817/58f80e62f629d81378fbf9ed.bmp?r=41045218749') format('woff'), url('//cdn.webfont.youziku.com/webfonts/nomal/101653/45817/58f80e62f629d81378fbf9ed.jpg?r=41045218749') format('truetype'), url('//cdn.webfont.youziku.com/webfonts/nomal/101653/45817/58f80e62f629d81378fbf9ed.png#ChannelSlanted2') format('svg');
}

.ChannelSlanted {
  font-family: 'ChannelSlanted';
}


/*页眉*/

header {
  height: var(--header_height);
  background-color: #20a0ff;
  color: white;
  position: relative;
  overflow: hidden;
}

header img {
  height: var(--header_height);
  float: left;
}

header h1 {
  font-family: 'ChannelSlanted';
  font-size: 35px;
  line-height: var(--header_height);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


/*导航栏链接*/

nav .el-menu-item a {
  display: block;
  height: 100%;
}

main {
  max-width: 100%;
}


/*发布时删除height*/

main iframe {
  /*height: 2000px;*/
  width: 100%;
  border: none;
}


/*页脚*/

footer {
  height: var(--footer_height);
  background-color: black;
  color: grey;
  max-width: var(--footer_max_width);
  padding: 30px calc(50% - var(--footer_max_width) / 2);
}


/*左侧名称区*/

footer #footer-main {
  float: left;
}

#footer-main-title {
  line-height: 1;
  font-size: 22px;
  margin: 0;
}

#footer-main-link {
  display: inline-block;
  margin-top: 8px;
  font-size: 12px;
  color: lightgray;
}


/*右侧信息区*/

#footer-social {
  float: right;
  line-height: var(--footer_height);
}

.footericon {
  transition: .3s;
  display: inline-block;
  line-height: var(--footericon_size);
  text-align: center;
  color: #8D99AB;
  background-color: transparent;
  margin-right: 20px;
  size: var(--footericon_size);
  font-size: var(--footericon_size);
  vertical-align: middle;
}

.footericon:hover {
  transform: scale(1.2);
  color: white;
}

.footer-popover {
  padding: 0;
  min-width: 120px;
  line-height: normal;
  box-shadow: 0 0 11px 0 rgba(174, 187, 211, 0.24);
}

.footer-popover-title {
  border-bottom: solid 1px #eaeefb;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #99a9bf;
  background-color: #f8f9fe;
}

.footer-popover p {
  text-align: center;
  margin: 10px;
}
