#resume{
  height:1500px;
}
header {
  font-size: 20px;
  text-align: center;
}

.project-table-expand {
  font-size: 0;
}

.project-table-expand label {
  width: 90px;
  color: #99a9bf;
}

.project-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 50%;
}
