.mine-main {
  display: inline;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.winMine-body,
.winMine-head {
  padding: 5px;
  background: lightgray;
}

.border-down {
  border: 2px solid #848484;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.border-up {
  border: 2px solid #fff;
  border-right: 2px solid #848484;
  border-bottom: 2px solid #848484;
}


/*剩余地雷计数器*/

.mine-count {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: black;
  color: red;
  text-align: center;
  line-height: 30px;
}


/*开始按钮*/

.start-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


/*方格*/

.mine-box {
  width: 30px;
  height: 30px;
}


/*地雷方块*/

.mine {
  background: red;
}


/*标记方块*/

.flag {
  background: green;
}
